@mixin block-bg($url) {
    content: " ";
    background-image: image-url($url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 0;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 800px;
    z-index: -1;
    // @include filter(blur(3px));
}

@mixin white-h2-ciphered() {
    h2 {
      margin-bottom: 2em; 
      color: white;
      @include text-shadow(black 1px 1px 20px, black -1px -1px 20px);
    }

    .ciphered_text {
      color: white;
      @include text-shadow(black 1px 1px 20px, black -1px -1px 20px);  
    }    
}