@import "compass";
@import "mixin";

body {
  margin-top: 50px;
}

.block {
  @include box-sizing(border-box);
  position: relative;

  .caesar {
    margin-top: 3em;
    padding: 15em 0 11em 0;
    // background-color: #A0FFBE;
    &::before {
      @include block-bg("ceasar-1.jpg");
    }

    @include white-h2-ciphered();
  }

  .mono {
    padding: 15em 0 11em 0;
    // background-color: #9DE7FF;

    &::before {
      @include block-bg("matrix.png");
    }
    @include white-h2-ciphered();
  }

  .playfair {
    padding: 15em 0 11em 0;
    // background-color: #FFFFFF;
    &::before {
      @include block-bg("beauty.jpg");
    }
    @include white-h2-ciphered();  
  }

  .vernam {
    padding: 15em 0 11em 0;
    // background-color: #8c8c8c;  
    &::before {
      @include block-bg("water.jpg");
    }
    @include white-h2-ciphered();          
  }

  .row {
    padding: 15em 0 11em 0;
    // background-color: #F69BD9;    
    &::before {
      @include block-bg("sceneary.jpg");
    }
    @include white-h2-ciphered();    
  }

  .product {
    padding: 15em 0 11em 0;
    // background-color: #F69BD9;    
    &::before {
      @include block-bg("nisekoi.png");
      height: 650px;
    }
    @include white-h2-ciphered();    
    // background-color: #EBF69B; 
  }

  .ciphered_text {
    height: 4em;
  }


}

.footer {
  p {
    margin: 0;
    color: #b0b0b0;
  }
  // position: absolute;
  left: 0px;
  right: 0px;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #8D2F2F;
  margin-top: -10px;
  
}