/* line 4, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
body {
  margin-top: 100px;
  background-image: url("../images/background.png"); }

/* line 9, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
.header {
  margin-bottom: 3em; }

/* line 13, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
.nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.77);
  z-index: 8; }
  /* line 23, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
  .nav ul li {
    display: inline-block;
    margin: 0 2em;
    z-index: 10; }
  /* line 30, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
  .nav a:link {
    text-decoration: none;
    color: white; }
  /* line 34, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
  .nav a:hover {
    text-decoration: none;
    color: white; }
  /* line 38, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
  .nav a:active {
    text-decoration: none;
    color: white; }
  /* line 42, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
  .nav a:visited {
    text-decoration: none;
    color: white; }

/* line 49, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
.block {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }
  /* line 53, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
  .block .caesar {
    padding: 15em 0 11em 0; }
    /* line 57, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
    .block .caesar::before {
      content: " ";
      background-image: url("../images/ceasar-1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 10% 0;
      position: absolute;
      top: 0%;
      left: 0;
      width: 100%;
      height: 800px;
      z-index: -1; }
    /* line 17, /Users/yukai/Projects/web/cryptography/source/stylesheets/mixin.css.scss */
    .block .caesar h2 {
      text-transform: uppercase;
      margin-bottom: 2em;
      color: white;
      text-shadow: black 1px 1px 20px, black -1px -1px 20px; }
    /* line 24, /Users/yukai/Projects/web/cryptography/source/stylesheets/mixin.css.scss */
    .block .caesar .ciphered_text {
      color: white;
      text-shadow: black 1px 1px 20px, black -1px -1px 20px; }
  /* line 64, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
  .block .mono {
    padding: 15em 0 11em 0; }
    /* line 68, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
    .block .mono::before {
      content: " ";
      background-image: url("../images/matrix.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 10% 0;
      position: absolute;
      top: 0%;
      left: 0;
      width: 100%;
      height: 800px;
      z-index: -1; }
    /* line 17, /Users/yukai/Projects/web/cryptography/source/stylesheets/mixin.css.scss */
    .block .mono h2 {
      text-transform: uppercase;
      margin-bottom: 2em;
      color: white;
      text-shadow: black 1px 1px 20px, black -1px -1px 20px; }
    /* line 24, /Users/yukai/Projects/web/cryptography/source/stylesheets/mixin.css.scss */
    .block .mono .ciphered_text {
      color: white;
      text-shadow: black 1px 1px 20px, black -1px -1px 20px; }
  /* line 74, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
  .block .playfair {
    padding: 15em 0 11em 0; }
    /* line 77, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
    .block .playfair::before {
      content: " ";
      background-image: url("../images/beauty.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 10% 0;
      position: absolute;
      top: 0%;
      left: 0;
      width: 100%;
      height: 800px;
      z-index: -1; }
    /* line 17, /Users/yukai/Projects/web/cryptography/source/stylesheets/mixin.css.scss */
    .block .playfair h2 {
      text-transform: uppercase;
      margin-bottom: 2em;
      color: white;
      text-shadow: black 1px 1px 20px, black -1px -1px 20px; }
    /* line 24, /Users/yukai/Projects/web/cryptography/source/stylesheets/mixin.css.scss */
    .block .playfair .ciphered_text {
      color: white;
      text-shadow: black 1px 1px 20px, black -1px -1px 20px; }
  /* line 83, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
  .block .vernam {
    padding: 15em 0 11em 0; }
    /* line 86, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
    .block .vernam::before {
      content: " ";
      background-image: url("../images/water.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 10% 0;
      position: absolute;
      top: 0%;
      left: 0;
      width: 100%;
      height: 800px;
      z-index: -1; }
    /* line 17, /Users/yukai/Projects/web/cryptography/source/stylesheets/mixin.css.scss */
    .block .vernam h2 {
      text-transform: uppercase;
      margin-bottom: 2em;
      color: white;
      text-shadow: black 1px 1px 20px, black -1px -1px 20px; }
    /* line 24, /Users/yukai/Projects/web/cryptography/source/stylesheets/mixin.css.scss */
    .block .vernam .ciphered_text {
      color: white;
      text-shadow: black 1px 1px 20px, black -1px -1px 20px; }
    /* line 90, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
    .block .vernam p {
      color: white;
      font-weight: bold; }
  /* line 96, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
  .block .row {
    padding: 15em 0 11em 0; }
    /* line 99, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
    .block .row::before {
      content: " ";
      background-image: url("../images/sceneary.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 10% 0;
      position: absolute;
      top: 0%;
      left: 0;
      width: 100%;
      height: 800px;
      z-index: -1; }
    /* line 17, /Users/yukai/Projects/web/cryptography/source/stylesheets/mixin.css.scss */
    .block .row h2 {
      text-transform: uppercase;
      margin-bottom: 2em;
      color: white;
      text-shadow: black 1px 1px 20px, black -1px -1px 20px; }
    /* line 24, /Users/yukai/Projects/web/cryptography/source/stylesheets/mixin.css.scss */
    .block .row .ciphered_text {
      color: white;
      text-shadow: black 1px 1px 20px, black -1px -1px 20px; }
    /* line 104, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
    .block .row p {
      color: white;
      font-weight: bold; }
  /* line 110, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
  .block .product {
    padding: 15em 0 11em 0; }
    /* line 113, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
    .block .product::before {
      content: " ";
      background-image: url("../images/nisekoi.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 10% 0;
      position: absolute;
      top: 0%;
      left: 0;
      width: 100%;
      height: 800px;
      z-index: -1;
      height: 650px; }
    /* line 17, /Users/yukai/Projects/web/cryptography/source/stylesheets/mixin.css.scss */
    .block .product h2 {
      text-transform: uppercase;
      margin-bottom: 2em;
      color: white;
      text-shadow: black 1px 1px 20px, black -1px -1px 20px; }
    /* line 24, /Users/yukai/Projects/web/cryptography/source/stylesheets/mixin.css.scss */
    .block .product .ciphered_text {
      color: white;
      text-shadow: black 1px 1px 20px, black -1px -1px 20px; }
  /* line 121, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
  .block .ciphered_text {
    height: 4em; }
  /* line 125, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
  .block input[name='key'] {
    width: 5em;
    text-align: center; }

/* line 131, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
.footer {
  left: 0px;
  right: 0px;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #8D2F2F;
  margin-top: -10px; }
  /* line 132, /Users/yukai/Projects/web/cryptography/source/stylesheets/style.css.scss */
  .footer p {
    margin: 0;
    color: #b0b0b0; }
