= form_tag '#', :id => 'des-form' do
  %p= text_field_tag 'plaintext', :value => 'abcdefgh'
  %p= text_field_tag 'key', :value => '1101011111010111110101111101011111010111110101111101011111010111'
  %p= submit_tag 'Cipher!', :onclick => 'des()'
